<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../files/css/reset.css" >
    <link rel="stylesheet" href="../files/open-source/boostrap-4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../files/css/icon_menu.css" >
    <link rel="stylesheet" href="../files/css/header.css" >
    <link rel="stylesheet" href="../files/css/home.css" >
    <script defer src="../files/open-source/fontawesome-5.7.1/js/all.js"></script>
    <title>Catalogo</title>
</head>

<!--<div class="btn-group dropright">
<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropright
</button>
<div class="dropdown-menu">
    Dropdown menu links
</div>
</div>-->
<body>
    <div class="container-fluid">
        <div class="row">
            <ul class="col icon-menu reset" id="sidebar">
                <li>
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center icon_le"> 
                        <img width="65" height="65" src="../files/images/icon.png" alt="">
                    </a>
                </li>
                <li class="btn-group dropdown">
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center icon_le">
                        <i class="fas fa-clipboard-list fa-2x"></i>
                        <p class = "p-menu reset mt-1">Catálogos</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="sub-icon" href="#"><p class="subicon-text">Usuarios</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Perfiles</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Clientes</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Estaciones</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Centros de trabajo</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Medios de transporte</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Productos</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Turnos</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Unidades</p></a>
                        <a class="sub-icon mb-0" href="#"><p class="subicon-text">Medida</p></a>
                    </div>
                </li>
                <li class="btn-group dropdown">
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center icon_le">
                        <i class="fas fa-calculator fa-2x"></i>
                        <p class = "p-menu reset mt-1">Operaciones</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="sub-icon" href="#"><p class="subicon-text">Lista de precios</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Estatus de pedidos</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Pedidos por autorizar</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Pedidos por programar</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Remisiones por facturar</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Facturación</p></a>
                        <a class="sub-icon" href="#"><p class="subicon-text">Complementos de pago</p></a>
                        <a class="sub-icon mb-0" href="#"><p class="subicon-text">Parametros de sistema</p></a>
                    </div>
                </li>
                <li>
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center icon_le">
                        <i class="fas fa-file-pdf fa-2x"></i>
                        <p class = "p-menu reset mt-1">Reportes</p>
                    </a>
                </li>
                <!--Example for active item:<li class="cbp-vicurrent"><a href="#" class="icon-pencil">Pencil</a></li>-->
            </ul>
            <main id="main" class="col mb-2">
                <div class="row">
                    <div class="col-12 p-0 header d-flex align-items-center justify-content-between">
                        <div class="left d-flex align-items-center">
                            <!--<a id="bars" class="px-2 py-2"><img width="125" height="65" src="../files/images/logo_color.png" alt="latEnergy"></a>-->
                            <a id="bars" class="px-2 py-2"><div class="bars"><i class="fas fa-bars fa-2x"></i></div></a>
                            <h2 class="pl-2 title">Inicio</h2>
                        </div>
                        <div class="right d-flex align-items-center">
                            <a href="#" class="d-flex flex-column justify-content-center align-items-center icon-header">
                                <i class="fas fa-sign-out-alt fa-2x"></i>
                                <p class = "p-menu reset mt-1">Salir</p>
                            </a>
                        </div>
                    </div>
                   
                </div>
            </main>
        </div>
    </div>
    

    <script type="text/javascript" src="../files/open-source/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../files/open-source/boostrap-4.3.0/js/popper.js"></script>
    <script type="text/javascript" src="../files/open-source/boostrap-4.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../files/open-source/sweetalert/core-2.4.1.js"></script>
    <script type="text/javascript" src="../files/open-source/sweetalert/sweetalert2-v7.24.1.js"></script>
    <script type="text/javascript" src="../files/open-source/sweetalert/promise-polyfill.js"></script> 
    <script type="text/javascript" src="../files/js/menu.js"></script>
</body>
</html>