<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../files/css/reset.css" >
    <link rel="stylesheet" href="../files/open-source/boostrap-4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../files/css/icon_menu.css" >
    <link rel="stylesheet" href="../files/css/header.css" >
    <link rel="stylesheet" href="../files/css/home.css" >
    <link rel="stylesheet" href="../files/css/buttons.css" >
    <link rel="stylesheet" href="../files/css/form.css" >
    <link rel="stylesheet" href="../files/css/main.css" >
    <link rel="stylesheet" href="../files/css/table.css" >
    <link rel="stylesheet" href="../files/css/mobile_menu.css" >
    <link rel="stylesheet" href="../files/open-source/dataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" >
    <script defer src="../files/open-source/fontawesome-5.7.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Catalogo</title>
</head>
<body>
    <div class="container-fluid wrapper">
        <div class="row">
            <div id="navMob" class="mobile-menu">
                <a id="opnavMob1" class="mobile-title" href="#"><i class="fas fa-clipboard-list mr-2"></i>Catálogos</a>
                <a id="opnavMob2" class="mobile-title" href="#"><i class="fas fa-calculator mr-2"></i>Operaciones</a>
                <a id="opnavMob3" class="mobile-title" href="#"> <i class="fas fa-file-pdf  mr-2"></i>Reportes</a>
                <a id="logoutMobile" class="mobile-title" href="#"><i class="fas fa-sign-out-alt mr-2"></i>Salir</a>
            </div>
            <div id="subNavMob1" class="mobile-menu mobileMenu-options">
                <a class="mobileMenu-title"><i class="fas fa-clipboard-list mr-2"></i>Catálogos<div id="close1" class="float-right cursor-pointer"><i class="fas fa-times"></i></div></a>
                <a href="usuarios.html">Usuarios</a>
                <a href="entregas.html">Entregas</a>
                <a href="clientes.html">Clientes</a>
                <a href="estaciones.html">Estaciones</a>
                <a href="#">Centros de trabajo</a>
                <a href="transportes">Medios de transporte</a>
                <a href="productos">Productos</a>
                <a href="#">Turnos</a>
                <a href="unidadesM">Unidades de medida</a>
            </div>
            <div id="subNavMob2" class="mobile-menu mobileMenu-options">
                <a class="mobileMenu-title"><i class="fas fa-calculator mr-2"></i>Operaciones<div id="close2" class="float-right cursor-pointer"><i class="fas fa-times"></i></div></a>
                <a href="#">Lista de precios</a>
                <a href="#">Estatus de pedidos</a>
                <a href="#">Pedidos por autorizar</a>
                <a href="#">Pedidos por programar</a>
                <a href="#">Remisiones por facturar</a>
                <a href="#">Facturación</a>
                <a href="#">Complementos de pago</a>
                <a href="#">Parametros de sistema</a>
            </div>
            <ul class="col icon-menu reset" id="iconMenu">
                <li>
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center"> 
                        <img width="65" height="65" src="../files/images/icon.png" alt="">
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-clipboard-list fa-2x"></i>
                        <p class = "menu-p reset mt-1">Catálogos</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="usuarios.html"><p class="item-text">Usuarios</p></a>
                        <a class="dropdown-item" href="entregas.html"><p class="item-text">Entregas</p></a>
                        <a class="dropdown-item" href="clientes.html"><p class="item-text">Clientes</p></a>
                        <a class="dropdown-item" href="estaciones.html"><p class="item-text">Estaciones</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Centros de trabajo</p></a>
                        <a class="dropdown-item" href="transportes.html"><p class="item-text">Medios de transporte</p></a>
                        <a class="dropdown-item" href="productos.html"><p class="item-text">Productos</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Turnos</p></a>
                        <a class="dropdown-item mb-0" href="unidadesM.html"><p class="item-text">Unidades de medida</p></a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-calculator fa-2x"></i>
                        <p class = "menu-p reset mt-1">Operaciones</p>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#"><p class="item-text">Lista de precios</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Estatus de pedidos</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Pedidos por autorizar</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Pedidos por programar</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Remisiones por facturar</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Facturación</p></a>
                        <a class="dropdown-item" href="#"><p class="item-text">Complementos de pago</p></a>
                        <a class="dropdown-item mb-0" href="#"><p class="item-text">Parametros de sistema</p></a>
                    </div>
                </li>
                <li>
                    <a href="#" class="icon-link d-flex flex-column justify-content-center align-items-center icon_le">
                        <i class="fas fa-file-pdf fa-2x"></i>
                        <p class = "menu-p reset mt-1">Reportes</p>
                    </a>
                </li>
            </ul>
            <main id="main" class="col">
                <div class="row">
                    <div class="col-12 p-0 header d-flex align-items-center justify-content-between">
                        <div class="headerContainer-left d-flex align-items-center justify-content-between">
                            <a id="barsMenu" class="px-2 py-2"><div id="barsContainer" class="barsMenu-container"><i class="fas fa-bars fa-2x"></i></div></a>
                            <a class="px-2 py-2 d-md-none"><img width="125" height="65" src="../files/images/logo_color.png" alt="latEnergy"></a>
                            <h2 class="pl-0 pl-md-2 header-title">Catálogos</h2>
                        </div>
                        <div class="headerContainer-right d-flex align-items-center">
                            <a href="#" class="d-flex flex-column justify-content-center align-items-center logout">
                                <i class="fas fa-sign-out-alt fa-2x"></i>
                                <p class="mt-1">Salir</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center row-body form-dropdown">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-2 col-md-4">
                                <button id="searchHandle" class="btn-menu btn-alone"><i class="fas fa-search mr-md-2"></i><span class="d-none d-md-block">Búsqueda</span></button>
                            </div>
                            <div class="col-5 col-md-4 d-flex justify-content-center align-items-center">
                                <h5 class="title">Usuarios</h5>
                            </div>
                            <div class="col-5 col-md-4 d-flex justify-content-end">
                                <button id="add"  class="btn-menu btn-responsive "><i class="fas fa-plus mr-md-2"></i><span class="d-none d-md-block">Agregar</span></button>
                                <button id="edit" class="btn-menu btn-responsive "><i class="fas fa-edit mr-md-2"></i><span class="d-none d-md-block">Editar</span></button>
                                <button id="del"  class="btn-menu btn-responsive "><i class="fas fa-times mr-md-2"></i><span class="d-none d-md-block">Eliminar</span></button>
                            </div>
                        </div>
                    </div>
                    <div id="searchContainer" class="form-dropdown-content">
                        <div class="row">   
                            <div class="col-11">
                                <span class="span-form"><i class="fas fa-search mr-2"></i>Búsqueda</span>
                            </div>
                            <div class="col-1">
                                <span id="closeSearch" class="close-form"><i class="fas fa-times"></i></span>
                            </div>
                            <div class="col-lg-6 form-group mb-0">
                                <div class="form-row py-0">
                                    <div class="col-md-6">
                                        <label class="col-form-label pb-0 label-size" for="select_id">Id</label>
                                        <select class="form-control select-custom" id="select_id">
                                            <option value="1">Contiene</option>
                                            <option value="2">Empieza con</option>
                                            <option value="3">Termina con</option>
                                            <option value="4">Igual a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label pb-0 label-size label-invisible">-</label>
                                        <input id="search_description" type="text" class="form-control mt-1 mt-md-0 form-control-sm" autocomplete="off" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group align-items-center mb-0">
                                <div class="form-row py-0">
                                    <div class="col-md-6">
                                        <label class="col-form-label pb-0 label-size" for="select_name">Nombre</label>
                                        <select class="form-control select-custom" id="select_name">
                                            <option value="1">Contiene</option>
                                            <option value="2">Empieza con</option>
                                            <option value="3">Termina con</option>
                                            <option value="4">Igual a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label pb-0 label-size label-invisible">-</label>
                                        <input id="search_name" type="text" class="form-control mt-1 mt-md-0 form-control-sm" autocomplete="off" maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group mb-0">
                                <div class="form-row py-0">
                                    <div class="col-md-6">
                                        <label class="col-form-label pb-0 label-size" for="select_profile">Perfil</label>
                                        <select class="form-control select-custom" id="select_profile">
                                            <option value="1">Contiene</option>
                                            <option value="2">Empieza con</option>
                                            <option value="3">Termina con</option>
                                            <option value="4">Igual a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label pb-0 label-size label-invisible">-</label>
                                        <input id="search_profile" type="text" class="form-control mt-1 mt-md-0 form-control-sm" autocomplete="off" maxlength="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group mb-0 d-flex justify-content-center justify-content-md-start align-items-end mt-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="select_admin">
                                    <label class="label-check custom-control-label" for="select_admin">Administrador</label>
                                </div>
                                <div class="custom-control custom-checkbox ml-3">
                                    <input class="custom-control-input" type="checkbox" id="select_super">
                                    <label class="label-check custom-control-label" for="select_super">Super-usuario</label>
                                </div>
                                <div class="custom-control custom-checkbox ml-3">
                                    <input class="custom-control-input" type="checkbox" id="select_active">
                                    <label class="label-check custom-control-label" for="select_active">Activo</label>
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-9 d-flex justify-content-end mt-1 pl-3 pl-md-1">
                                <button id="accept" class="btn-menu w-100 btn-action"><i class="fas fa-check mr-2"></i><span>Aceptar</span></button>   
                            </div>     
                        </div>
                    </div>
                    <div id="formContainer" class="form-dropdown-content">
                        <div class="row">   
                            <div class="col-11">
                                <span id="labelAdd" class="span-form"><i class="fas fa-plus mr-2"></i>Agregar</span>
                                <span id="labelEdit" class="d-none span-form"><i class="fas fa-edit mr-2"></i>Actualizar</span>
                                <span class="span-form">usuarios</span>
                            </div>
                            <div class="col-1">
                                <span id="closeForm" class="close-form"><i class="fas fa-times"></i></span>
                            </div>
                            <div class="col-12 col-md-4 form-group mb-0">
                                <label class="col-form-label pb-0 label-size" for="id">Id</label>
                                <input id="id" type="text" class="form-control form-control-sm" maxlength="10" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4 form-group mb-0">
                                <label class="col-form-label pb-0 label-size" for="name">Nombre</label>
                                <input id="name" type="text" class="form-control form-control-sm" maxlength="50" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4 form-group mb-0">
                                <label class="col-form-label pb-0 label-size" for="profile">Perfil</label>
                                <input id="profile" type="text" class="form-control form-control-sm" maxlength="5" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4 form-group mb-0">
                                <label class="col-form-label pb-0 label-size" for="profile">Contraseña</label>
                                <input id="pass" type="password" class="form-control form-control-sm" maxlength="50" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4 form-group mb-0">
                                <label class="col-form-label pb-0 label-size" for="confirm">Confirmar contraseña</label>
                                <input id="confirm" type="password" class="form-control form-control-sm" maxlength="50" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4 form-group mb-0 d-flex justify-content-between align-items-end">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="admin">
                                    <label class="label-check custom-control-label" for="admin">Administrador</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="super">
                                    <label class="label-check custom-control-label" for="super">Super-usuario</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="active">
                                    <label class="label-check custom-control-label" for="active">Activo</label>
                                </div>
                            </div>
                            <div class="col-md-3 offset-md-9 d-flex justify-content-end mt-1 pl-3 pl-md-1">
                                <button id="accept" class="btn-menu w-100 btn-action"><i class="fas fa-check mr-2"></i><span>Aceptar</span></button>   
                            </div>     
                        </div>
                    </div>
                    <div class="col-11">                        
                        <table id="table" class="table-all table responsive mt-2" style="width:100%;">
                            <thead class="table-head">
                                <tr data="x++xy">
                                    <th>Id cliente</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>  
                                    <th>Sistema</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">February</td>
                                    <td class="text-left">$ 10,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">March</td>
                                    <td class="text-left">$ 85,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">April</td>
                                    <td class="text-left">$ 56,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                                <tr data="x++xy">
                                    <td class="text-left">May</td>
                                    <td class="text-left">$ 98,000.00</td>
                                    <td class="text-left">January</td>
                                    <td class="text-left">$ 50,000.00</td>
                                    <td class="text-left">$ 50,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="logoFixed" class="logo-fixed">
                    <img width="125" height="60" src="../files/images/logo_color.png" alt="latEnergy">
                </div>
            </main>
        </div>
    </div>
    

    <script type="text/javascript" src="../files/open-source/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../files/open-source/boostrap-4.3.0/js/popper.js"></script>
    <script type="text/javascript" src="../files/open-source/boostrap-4.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../files/open-source/sweetalert/core-2.4.1.js"></script>
    <script type="text/javascript" src="../files/open-source/sweetalert/sweetalert2-v7.24.1.js"></script>
    <script type="text/javascript" src="../files/open-source/sweetalert/promise-polyfill.js"></script> 
    <script type="text/javascript" src="../files/open-source/dataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>  
    <script type="text/javascript" src="../files/open-source/dataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script> 
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script> 
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script> 
    <script type="text/javascript" src="../files/js/menus.js"></script>
    <script type="text/javascript" src="../files/js/search.js"></script>
    <script type="text/javascript" src="../files/js/table.js"></script>
    <script type="text/javascript" src="../files/js/form.js"></script>
</body>
</html>