/*--Container--*/

.header{ 
    overflow: hidden;
    height: 5.0em; 
    max-height: 5.0em; 
    background: #f7f7f7;
}

/*--Container--*/

/*--Bars--*/

.bars{ 
    color: #7a7a7a; 
    cursor: pointer;
}

.bars:hover{ color:#ff8432; }

/*--Bars--*/

/*--Responsive Menu--*/

.mobile-logo{ display: none; }

@media only screen and (max-width: 48em) {

    .icon-header { display: none !important; }
    
    .left{ width: 100%; }

    .left *:first-child { order:2; }

    .right{ width: 0; }

    .mobile-logo{ display: initial; }

}

/*--Responsive Menu--*/

/*--Icon Out--*/

.logout{
	display: block;
	height: 5em;
	width: 5em;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    background: #ff8432;
    color: #fff;
}

.logout p{    
    font-size: 0.750em; 
    margin: 0;
    padding: 0;
}

.logout:hover{ 
	background: #ff8432;
    color: #fff;
    text-decoration: none;
}

/*--Icon Out--*/

/*--Desktop Logo Response--*/

.logo-fixed{
	position: fixed;
	bottom: 0.938em;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 48em) { .logo-fixed { display: none; } }

/*--Desktop Logo Response--*/