.main{ max-height: calc(100% -  5.0em); }

.home-jumbo{
    background: url(../images/home_jumbotron2.jpg) no-repeat center center; 
    background-size: cover;
}

.link-image{
    height: 100%;
    width: 100%;
}

.title{
    color: #999;
}
