.cursor-pointer {cursor: pointer;}

/*--Father--*/

.menu-icon {
	min-height: 100vh;
	list-style-type: none;
	background: #f2f2f3;
	background: #f7f7f7;
	max-width: 5.2em !important;
	width: 5.2em;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	margin: 0;
	padding: 0;
}

/*--Father--*/

/*--Main Icons--*/
.menu-icon li .icon-link {
	text-decoration: none;
	display: block;
	height: 5em;
	width: 5.2em;
	color: #7a7a7a;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}

.menu-icon li:first-child,
.menu-icon li .icon-link:hover{ 
	background: #ff8432;
	color: #fff;
}

/*--Main Icons--*/

/*--Sub Icons--*/

.p-menu{ 
	font-size: 0.750em; 
	margin: 0;
	padding: 0;
}

/*--Sub Icons--*/

/*--Options--*/

.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 12.5em;
	box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
	z-index: 900;
}

.dropdown:hover .dropdown-content{ 
	display: block; 
	left: 5.219em;
	top: -0.219em;
}

.dropdown:hover a.icon-link{ 
	background: #ff8432;
	color: #fff;
}

.dropdown-item {
	display: block;
	text-decoration: none;
	padding: 0.5em;
	width: 100%;
	color: #7a7a7a;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}

.dropdown-item:hover{ 
	text-decoration: none; 
	background: #ff8432;
	color: #fff;
}

.dropdown-item .item-text{ margin: 0;}

/*--Options--*/

@media only screen and (max-width: 768px) { .menu-icon { display: none; } }
  