.wrapper{
    /*background:#fbfbfb;*/
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 48em) { .wrapper{ overflow: auto; }}


/*100vh - Header + Menu*/
.row-body{ max-height: calc(100vh - 5em);}