.dataTables_wrapper{ 
    color: #6d6d6d; 
    margin-top: 1em;
}

.table-all{
    font-family: 'Roboto', sans-serif;
    /*border-radius: 0.188em;
    border-collapse: collapse;*/
    padding: 0.313em;
    box-shadow: 0 0.313em 0.625em rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    width: 98.45% !important;
    width: 100% !important;
}


@media only screen and (max-width: 48em) { .table-all{ font-size: 0.85em; }}

.table-head tr th{
    color:#fff;
    background:#555555;
    background:#ff8432;
    border-right: 0.063em solid #e5762d;
    padding: 0.5em;
    padding: 0 !important;
    text-align: left;
    font-size: 0.9em;
}
  
.table-head tr th:first-child { border-top-left-radius: 0.188em; }
   
.table-head tr th:last-child {
    border-top-right-radius: 0.063em;
    border-right: none;
}

.table-body tr {
    border-top: 0.063em solid #C1C3D1;
    border-bottom: 0.063em solid #C1C3D1;
}

.table-body tr td {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
   
.table-body tr:nth-child(odd) td { background: #f7f7f7; }

.table-body tr:nth-child(even) td{ background: #fbfbfb; }

.table-body tr:hover td{
    background:#00c853;
    color:#ffff;
    cursor: pointer;
    font-weight: 300;
}
      
.is-selected td{
    background:#00a042 !important;
    color:#ffff;
    cursor: pointer;
    font-weight: 300;
}
   
tr:last-child td:first-child {border-bottom-left-radius: 0.188em; }
   
tr:last-child td:last-child { border-bottom-right-radius: 0.188em; }
   
.table-body tr td {
    background:#FFFFFF;
    padding: 1.250em;
    padding: 0 !important;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 1.125em;
    font-size: 0.9em;
    /*text-shadow: -0.063em -0.063em 0.063em rgba(0, 0, 0, 0.1);*/
    border-right: 0.063em solid #C1C3D1;
}

td:last-child { border-right: 0; }

th.text-left { text-align: left; }

.dataTables_scrollHeadInner{ width: 100% !important; }

table.dataTable thead .sorting:before,  table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:before,  table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:before,  table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:before,  table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.1em !important;
    display: block;
    opacity: 0.3;
}

/*https://codepen.io/alassetter/pen/cyrfB*/